<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705593909813-nsu13ivccerea8kdho2j73q6ko6mck80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705593909813-nsu13ivccerea8kdho2j73q6ko6mck80</string>
	<key>API_KEY</key>
	<string>AIzaSyDLJsqSt8IwTzjFHShMzsRMvvob6IJsTXw</string>
	<key>GCM_SENDER_ID</key>
	<string>705593909813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YoungWonChoi</string>
	<key>PROJECT_ID</key>
	<string>zcl-aruco</string>
	<key>STORAGE_BUCKET</key>
	<string>zcl-aruco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:705593909813:ios:4250cb7d1f97100235077c</string>
</dict>
</plist>
